body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 2;
}

section {
	max-width: 800px;
	margin: 50px auto;
	&.hide {
		display: none;
	}

	&#results_section {
		.results_title {
			font-weight: bolder;
			margin-bottom: 5px;
		}

		#results {
			margin: 10px;
			padding: 10px;
		}
		ul {
			li {
				padding: 5px;
			}
		}
	}
}
